h1 {
    text-align: center;
}

#content-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container{
    border: solid black;
    display:grid;
    height:600px;
    width:600px;
}
