h1 {
    text-align: center;
}

#content-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container{
    display:grid;
    height:500px;
    width:500px;
}
